    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700i,900|Open+Sans:600&display=swap" rel="stylesheet">
    <title>MOVIES</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/statics/style.css" rel="stylesheet">

<div class="jumbotron">
  <h1 class="display-4">Has agregado una nueva pelicula!</h1>
  <p class="lead">Para continuar agregando dale click al siguiente botón</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_for('add_movies') }}" role="button">Agregar más pelis</a>
  </p>
</div>